/* table */
@media (min-width: 800px) {
  .container-img {
    height: 250px;
  }

  .loading div {
    width: 40px;
    height: 40px;
  }

  .Form-0,
  .form-2,
  .Form-3 {
    width: 410px;
    position: relative;
    top: -7.5em;
  }

  .form-2 {
    top: -5.2em;
  }


  .box-item {
    padding: 0 1em;
  }

  .ch-row span {
    margin-left: -3em;
  }

  .ch-row:nth-of-type(2) span {
    margin-left: -4.2em;
  }


  .list--container {
    top: 10%;
  }

  .list--container .navagation {
    width: 45px;
    height: 45px;
    margin: 0 15px;
  }


}

@media (min-width: 1024px) {

  .container-img {
    background: url(none);
  }

  .container-img .bg {
    padding: 1em 1em;
    max-width: 100%;
    display: block;
    border-radius: 15px !important;
  }



  .form-container {
    display: flex;
    position: relative;
    top: 0px;
    margin: 75px auto 0 auto;
    width: 900px;
    min-height: 500px;
    height: 600px;
    background-color: var(--White);
    border-radius: 10px;
    transform: scale(0.9);
  }

  .Form-0,
  .form-2,
  .Form-3 {
    width: 475px;
    position: relative;
    top: -2em;
    left: -2em;
    background-color: transparent;
  }

  .Form-0 .form-area {
    position: relative;
    top: 3em;
    left: 4em;
  }

  .form-2 {
    top: 1em;
  }

  .form--title {
    font-size: 2.4em;
    margin: .5em 0;
  }

  .form-title-2-fix {
    margin: -.2em 0 .5em 0;
  }


  legend {
    max-width: 100%;
    font-weight: 700 !important;
  }

  .sub-title {
    max-width: 100%;
  }

  #sp1 {
    width: 100%;
    font-size: 1.2em;
  }

  .pad-t {
    margin-top: 1em;
  }

  .t2 {
    width: 100%;
    margin-top: 2em;
  }

  #select--container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }

  .selected {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: .5em .5em;
    padding: 1.3em 0 0 1.3em;
    width: 400px;
    min-height: 150px;
  }

  .info-box {
    padding-left: -1em;
  }

  .space {
    margin: .1em 0;
    padding: .4em 0;
  }



  .navagation-info {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50px;
  }


  .final-nav {
    position: relative;
    top: 200px;
  }


  .ul-row {
    display: flex;
    align-items: center;
  }


  .navagation-info {
    display: flex;
  }


  .Navbar {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    position: absolute;

    bottom: -10%;
    background-color: transparent;
  }

  .navbar-desk1 {
    flex-direction: row-reverse;
    position: relative;
    top: 4em;
    left: 2em;
  }

  .navbar-desk3 {
    flex-direction: row;
    position: relative;
    top: 1em;
    left: 0em;
  }

  .navbar-desk4 {
    flex-direction: row;
    position: relative;
    top: 5em;
    left: 0em;
  }


  .form4-fix {
    top: 5em;
    text-align: none;
  }


  .list--container {
    flex-direction: column;
    justify-content: flex-start;
    top: 1em;
    left: 1.2em;
    width: 274px;
    height: 100%;
    padding-top: 2em;
  }


  .list--container .navagation {
    position: relative;
    left: 10%;
    width: 40px;
    height: 40px;
    margin: 17px 0;
  }


  .box-item {
    width: 95%;
    padding: 2em;
    margin: .7em 0;
    height: 85px;
  }

  .ch-row span {
    margin-left: -5em;
  }

  .ch-row:nth-of-type(2) span {
    margin-left: -7em;
  }


  .top-title,
  .top-txt {
    font-size: 1.1em;
    font-weight: 700;
  }


  .top {
    padding: .7em 0;
  }

  .top-title {
    margin-bottom: .2em;
  }

  .total {
    padding: 1.5em;
  }


  .form4-fix img {
    width: 20%;
    margin-top: 3em;
    padding: 1em 0;
  }


  h6 {
    font-size: 2em;
    margin: 1em 0;
  }






}

/* desktop */
@media (min-width: 1440px) {
  .form-container {
    margin: 10em auto 0 auto;
    transform: scale(1.1);
  }
}